<body>
    {% extends "default.html" %}
    {% block content %}
    {% if session['logined'] %}
    <script>alert("You're logged in already!");</script>
    {% else %}
    <h2>Login</h2>
    <form action="/login" method="POST">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Log in">
    </form>
    <br>
    <a href="{{ url_for('index.login') }}">Don't you have an account? Make it for free!!</a>
    {% endif %}
    {% endblock %}
</body>